<!-- BEGIN: main -->
<table width=100% border=0 cellspacing=0 cellpadding=3>
<tr bgcolor="#FFFFCC">
	<td width=1><a href=?section=ads&action=edit&f[id]={ID}>@@Edit@@</a></td>
	<td width=1>|</td>			
	<td width=1><a href=?section=ads&action={ACTION}&f[id]={ID}>@@{ACTION_NAME}@@</a></td>
	<td width=1>|</td>		
	<td width=1><a href=?section=ads&action=preview&f[id]={ID}>@@Preview@@</a></td>	
	<!-- BEGIN: daypart -->
	<td width=1>|</td>		
	<td width=1><a href=?section=ads&action=schedule&f[id]={ID}>@@Schedule@@</a></td>	
	<!-- END: daypart -->
	<td width=99%>|&nbsp;<b>{TITLE}</b> |
	Status: {STATUS}
	</td>
</tr>
</table>
<!-- END: main -->
